<app-carrossel></app-carrossel>

<h2 class="titulo">Jogos em Promoção</h2>
<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
    <mat-card class="example-card card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Jogo 1</mat-card-title>
          <mat-card-subtitle class="subtitle">R$ 300,00</mat-card-subtitle>
          <img
            mat-card-lg-image
            src="assets/img/jogo1.PNG"
            class="arredondado"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Prepare-se para uma aventura emocionante repleta de desafios e surpresas
        a cada nível.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Jogo 2</mat-card-title>
          <mat-card-subtitle class="subtitle">R$ 200,00</mat-card-subtitle>
          <img
            class="arredondado"
            mat-card-lg-image
            src="assets/img/jogo2.PNG"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Prepare-se para uma aventura emocionante repleta de desafios e surpresas
        a cada nível.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Jogo 3</mat-card-title>
          <mat-card-subtitle class="subtitle">R$ 400,00</mat-card-subtitle>
          <img
            mat-card-lg-image
            src="assets/img/jogo3.PNG"
            class="arredondado"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Prepare-se para uma aventura emocionante repleta de desafios e surpresas
        a cada nível.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
